@import "../../styles/base";
.container {
  @include body;
  background-color: $color-white;
  @include apply-at-sm-size {
    overflow-x: hidden;
  }
  .catalogContainer {
    .slideContainer {
      .image {
        width: 100%;
        max-height: 650px;
        object-fit: cover;
      }
    }
    .comproSectionContainer {
      margin-top: 10%;
      margin-bottom: 10%;
      @include directionX;
      position: relative;
      @include apply-at-md-size {
        @include directionY;
        align-items: center;
      }
      @include apply-at-sm-size {
        margin-top: 2%;
      }
      .leftSection {
        width: 60%;
        @include apply-at-sm-size {
          width: 90%;
        }
        .bgWrapper {
          @include directionX;
          height: 100%;
          .bg1 {
            width: 33%;
            background-color: $color-orange;
          }
          .bg2 {
            width: 33%;
            background-color: $color-red;
          }
          .bg3 {
            width: 33%;
            background-color: $color-orange;
          }
        }
        .wrapper {
          .detail {
            @include directionY;
            z-index: 2;
            position: absolute;
            left: 2%;
            top: 5%;
            .comproTitle {
              width: 75%;
              @include apply-at-xsm-size {
                width: 50%;
              }
              @include apply-at-xsm-sm-size {
                width: 90%;
                margin-top: 1%;
                margin-left: 5%;
              }
            }
            .productCompro {
              margin-top: 5%;
              width: 60%;
              @include apply-at-xsm-sm-size {
                width: 50%;
                margin-top: 5%;
              }
              @include apply-at-xsm-size {
                margin-top: 3%;
                width: 40%;
              }
            }
          }
        }
      }
      .rightSection {
        margin-right: 7%;
        margin-top: 5%;
        width: 30%;
        @include directionY;
        @include apply-at-sm-size {
          width: 40%;
          margin-right: 0;
        }
        .desktopIcon {
          align-self: flex-end;
          width: 30%;
          margin-bottom: -2%;
          margin-right: -5%;
          @include apply-at-sm-size {
            width: 60%;
            margin-right: 25%;
          }
        }
        .comproDesc {
          margin-left: -60%;
          padding: 2% 5%;
          background-color: $color-dark-blue;
          border-radius: 18px;
          max-width: 600px;
          line-height: 42px;
          @include apply-at-sm-size {
            font-size: 8px;
            line-height: 10px;
            text-align: center;
            position: absolute;
            top: 55%;
            width: 55%;
            right: 8%;
            padding: 1%;
            margin-left: -50%;
            border-radius: 12px;
          }
        }
        .icon1 {
          width: 30%;
          margin-left: -15%;
          margin-bottom: -10%;
          @include apply-at-sm-size {
            z-index: 2;
            width: 35%;
            align-self: flex-end;

          }
        }
      }
    }
    .comproSlideContainer {
      .sliderWrapper {
        @include directionX;
        padding: 0 2%;
        justify-content: space-between;
        gap: 2%;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        .image {
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          max-width: 500px;
          @include apply-at-sm-size {
            width: 200px;
          }
        }
      }
      .sliderWrapper::-webkit-scrollbar {
        display: none;
      }
    }
    .mobileAppsContainer {
      @include directionX;
      justify-content: space-between;
      margin-top: 10%;
      margin-bottom: 10%;
      @include apply-at-xsm-sm-size {
        @include directionY;
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
      }
      @include apply-at-xsm-size {
        @include directionY;
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
        margin-top: 5%;
        margin-bottom: -15%;
      }
      .leftSection {
        width: 30%;
        @include directionY;
        justify-content: center;
        z-index: 3;
        .appDescWrapper {
          @include directionY;
          justify-content: center;
          width: 28%;
          height: 80%;
          position: absolute;
          @include apply-at-sm-size {
            width: 100%;
            position: static;
            align-items: center;
          }
          .appsDesc {
            margin-left: 20%;
            font-size: 20px;
            position: absolute;
            margin-top: 15%;
            padding: 5% 10%;
            background-color: $color-orange;
            border-radius: 25px;
            left: 10%;
            z-index: 2;
            @include apply-at-xsm-size {
              font-size: 10px;
              margin: 0;
              left: 10%;
              top: 0;
              margin-top: -15%;
              position: relative;
              padding: 2% 7%;
            }
            @include apply-at-xsm-sm-size {
              font-size: 10px;
              margin: 0;
              margin-top: 25%;
              padding: 2% 10%;
              margin-left: -50%;
              z-index: 2;
            }
            .icon {
              width: 20%;
              margin-top: -20%;
              position: absolute;
              margin-left: -5%;
              z-index: 2;
              @include apply-at-sm-size {
                right: 0;
                margin-top: -8%;
                width: 37px;
              }
            }
          }
        }
      }
      .rightSection {
        @include directionY;
        width: 70%;
        background-color: $color-dark-blue;
        padding: 2% 0 2% 2%;
        @include apply-at-sm-size {
          width: 80%;
          align-items: center;
        }
        .mobileTitle {
          @include content-center;
          width: 90%;
        }
        .productWrapper {
          @include directionX;
          margin-top: 2%;
          justify-content: flex-end;
          @include apply-at-sm-size {
            justify-content: center;
            margin-bottom: 10%;
            margin-top: 5%;
          }
          .mobileProduct {
            width: 20%;
            margin-bottom: 10%;
          }
          .desktopProduct {
            margin-top: 10%;
            width: 55%;
          }
        }
      }
    }
    .serviceContainer {
      @include directionX;
      .leftSide {
        width: 65%;
        .top {
          @include directionY;
          background-color: $color-orange;
          .serviceTitle {
            width: 80%;
            margin-top: 5%;
            margin-left: 5%;
          }
          .ilustration {
            width: 8%;
          }
          .topDesc {
            @include directionX;
            margin-top: -5%;
            color: $color-black;
            justify-content: center;
            text-align: center;
            line-height: 42px;
          }
        }
        .laptopWrapper {
          position: absolute;
          z-index: 2;
          img {
            width: 30%;
            margin-top: -15%;
          }
        }
        .bottom {
          @include directionX;
          align-items: center;
          justify-content: center;
          text-align: center;
          color: $color-white;
          background-color: $color-red;
          height: 100px;
          padding-left: 15%;
        }
      }
      .mid {
        .imgWrapper {
          @include directionY;
          position: absolute;
          z-index: 2;
          margin-left: -10%;
          margin-top: 10%;
          .projector {
            width: 70%;
          }
          .printer {
            margin-left: -25%;
            width: 70%;
          }
        }
      }
      .right {
        @include directionY;
        width: 35%;
        .top {
          align-self: flex-end;
          width: 70%;
          margin-top: -5%;
          .background {
            height: 100px;
            background-color: $color-red;
          }
          .ilustration {
            width: 30%;
            position: absolute;
            margin-top: -35%;
          }
        }
        .bottom {
          @include directionY;
          align-items: center;
          margin-top: 10%;
          background-color: $color-dark-blue;
          padding-bottom: 5%;
          .scopeDesc {
            margin-left: 15%;
            align-self: center;
            line-height: 42px;
          }
          .brand {
            width: 50%;
          }
        }
      }
    }
    .mobileServiceContainer {
      @include directionY;
      margin-top: 20%;
      .top {
        @include directionX;
        z-index: 3;
        .left {
          width: 70%;
          background-color: $color-orange;
          .serviceTitleMobile {
            padding-top: 5%;
            padding-left: 5%;
            img {
              width: 90%;
            }
          }
          .ilustrationMobile {
            img {
              width: 10%;
              @include apply-at-xsm-size {
                width: 8%;
              }
            }
          }
          .descMobile {
            @include directionX;
            justify-content: center;
            font-size: 10px;
            color: $color-dark-blue;
            text-align: center;
            margin-top: -13%;
            @include apply-at-xsm-size {
              margin-left: 5%;
            }
          }
          .laptopWrapper {
            margin-top: -15%;
            img {
              margin-left: 2%;
              width: 40%;
            }
          }
        }
        .topMid {
          .imgWrapper {
            position: absolute;
            margin-left: -20%;
            margin-top: 20%;
            z-index: 2;
            .projector {
              width: 70%;
            }
          }
        }
        .topRight {
          margin-left: 2%;
          width: 26%;
          .emptyColumn {
            background-color: $color-red;
            height: 70%;
          }
        }
      }
      .bottom {
        @include directionX;
        .bottomLeft {
          margin-top: 2%;
          margin-right: 2%;
          width: 22%;
          margin-left: 2%;
          .bottomEmptyColumn {
            background-color: $color-red;
            height: 80%;
          }
        }
        .bottomMid {
          .imgWrapper {
            position: absolute;
            z-index: 2;
            margin-left: -25%;
            .printer {
              width: 40%;
            }
          }
        }
        .bottomRight {
          @include directionX;
          justify-content: flex-end;
          font-size: 10px;
          margin-top: -10%;
          padding-top: 20%;
          width: 75%;
          background-color: $color-dark-blue;
          line-height: 15px;
          padding-bottom: 5%;
          .left {
            width: 40%;
            margin-top: -5%;
          }
          .right {
            text-align: center;
            width: 40%;
            margin-right: 2%;
            margin-top: -20%;
            .brand {
              width: 90%;
            }
          }
        }
      }
    }
    .digitalMarketingContainer {
      margin-top: 10%;
      @include apply-at-sm-size {
        margin-top: 5%;
      }
      .imageWrapper {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
    .designGraphicsContainer {
      @include directionX;
      margin-top: 10%;
      .leftSection {
        width: 60%;
        margin-left: 5%;
        background-color: $color-dark-blue;
        padding: 2%;
        @include apply-at-sm-size {
          width: 85%;
          margin-left: 0;
          padding-left: 5%;
          padding-top: 5%;
        }
        .designGraphicsTitle {
          img {
            width: 90%;
          }
        }
        .leftIlustration {
          img {
            width: 35%;
            @include apply-at-sm-size {
              width: 45%;
            }
          }
        }
      }
      .rightSection {
        width: 30%;
        @include apply-at-sm-size {
          width: 50%;
          margin-top: 20%;
          right: 0;
          position: absolute;
          z-index: 2;
        }
        .ilustrationWrapper {
          margin-bottom: -5%;
          margin-left: -5%;
          @include apply-at-sm-size {
            @include directionX;
            justify-content: flex-end;
            margin-right: 5%;
            margin-bottom: -3%;
          }
          img {
            @include apply-at-sm-size {
              z-index: 3;
              width: 50%;
            }
          }
        }
        .bottomSection {
          @include directionX;
          justify-content: space-between;
          @include apply-at-sm-size {
            justify-content: flex-end;
            height: 100%;
          }
          .iconWrapper {
            margin-left: 15%;
            img {
              @include apply-at-sm-size {
                width: 70%;
              }
            }
          }
          .designDesc {
            text-align: center;
            color: $color-dark-blue;
            z-index: 0;
            line-height: 42px;
            padding: 0 7%;
            border-radius: 82.5px;
            position: absolute;
            margin-left: -30%;
            background-color: $color-orange;
            @include apply-at-sm-size {
              padding: 0 5%;
              font-size: 10px;
              line-height: 12px;
              overflow-x: hidden;
              width: 100%;
            }
          }
        }
      }
    }
    .galleryDesignContainer {
      margin-top: 5%;
      .imageWrapper {
        img {
          width: 95%;
        }
      }
    }
    .partnershipContainer {
      .imageWrapper {
        img {
          width: 100%;
        }
      }
    }
    .testimonyFormSection {
      @include directionY;
      @include content-center;
      width: 90%;
      background-color: $color-red;
      border-radius: 150px;
      padding: 5% 2%;
      margin-top: 10%;
      @include apply-at-sm-size {
        border-radius: 50px;
      }
      .testimonyTitle {
        @include content-center;
        background-color: $color-dark-blue;
        border-radius: 18px;
        text-align: center;
        color: $color-cream;
        letter-spacing: 0.1em;
        width: 20%;
        font-size: 18px;
        text-decoration-line: underline;
        text-underline-offset: 8px;
        @include apply-at-sm-size {
          width: 50%;
          font-size: 14px;
        }
      }
      .formContainer {
        @include directionX;
        padding: 5% 2%;
        .formWrapper {
          @include directionY;
          width: 70%;
          
          input {
            @include body;
            margin-bottom: 5%;
            height: 50px;
            border-radius: 18px;
            padding-left: 5%;
            border: none;
            background-color: $color-dark-blue;
            @include apply-at-sm-size {
              font-size: 12px;
              height: 35px;
            }
          }
          
          ::-webkit-input-placeholder {
            color: $color-white;
            letter-spacing: 0.1em;
          }
          input:focus {
            outline: none !important;
            border-color: $color-orange;
            box-shadow: 0 0 8px $color-orange;
          }
          .bottomForm {
            @include directionX;
            justify-content: space-between;
            width: 140%;
            textarea {
              @include body;
              height: 70px;
              width: 63%;
              border-radius: 18px;
              border: none;
              padding: 2% 4%;
              background-color: $color-dark-blue;
              @include apply-at-sm-size {
                padding: 5%;
                width: 62%;
                font-size: 12px;
              }
            }
            textarea:focus {
              outline: none !important;
              border-color: $color-orange;
              box-shadow: 0 0 8px $color-orange;
            }
            ::-webkit-input-placeholder {
              color: $color-white;
              letter-spacing: 0.1em;
            }
            .btnSubmit {
              align-self: flex-end;
              border-radius: 18px;
              background-color: $color-dark-blue;
              letter-spacing: 0.1em;
              color: $color-white;
              border: none;
              width: 20%;
              height: 50px;
              text-align: center;
              z-index: 1;
              @include apply-at-sm-size {
                padding: 0 4%;
                height: 32px;
                font-size: 12px;
                border-radius: 14px;
              }
            }
            .btnSubmit:hover {
              cursor: pointer;

            }
          }
        }
        .formIlustration {
          width: 30%;
          .ilustrationWrapper {
            width: 100%;
            margin-top: -30%;
            @include apply-at-sm-size {
              margin-top: -15%;
            }
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .testimonyContainer {
      @include directionY;
      margin-bottom: 20%;
      margin-top: 5%;
      .testimonyWrapper {
        @include content-center;
        width: 65%;
        @include apply-at-sm-size {
          width: 80%;
        }
        .background {
          background-color: $color-dark-blue;
          border-radius: 25px;
          height: 500px;
          .title {
            text-decoration: underline;
            text-align: center;
            padding-top: 4%;
            font-size: 20px;
            letter-spacing: 0.1em;
            @include apply-at-sm-size {
              font-size: 14px;
            }
          }
          .testimonys {
            background-color: $color-orange;
            border-radius: 25px;
            padding: 5%;
          }
          .testimonyListWrapper {
            position: absolute;
            background-color: $color-orange;
            padding: 4%;
            margin-left: -10%;
            width: 60%;
            border-radius: 25px;
            @include apply-at-sm-size {
              width: 70%;
              margin-left: -5%;
            }
            .testimonyList {
              overflow-y: scroll;
              height: 500px;
              &::-webkit-scrollbar {
                width: 5px;
              }
              &::-webkit-scrollbar-thumb {
                height: 10px;
                background: $color-red;
                border-radius: 20px;
              }
              @include apply-at-sm-size {
                height: 450px;
              }
              .messageItemWrapper {
                @include directionX;
                align-items: center;
                color: $color-black;
                height: auto;
                @include apply-at-sm-size {
                  width: 100%;
                }
                .avatar {
                  @include directionX;
                  border-radius: 50%;
                  margin: auto;
                  @include apply-at-sm-size {
                    margin: 0;
                    width: 25%;
                  }
                  img {
                    width: 100%;
                    @include apply-at-sm-size {
                      align-items: center;
                      width: 90%;
                      margin-right: 5px;
                    }
                  }
                }
                .messageShape {
                  @include directionX;
                  width: 95%;
                  align-items: center;
                  padding-left: 1.5rem;
                  @include apply-at-sm-size {
                    font-size: 10px;
                    padding: 0;
                    width: 100%;
                  }
                  .outerTriangle {
                    width: 0;
                    height: 0;
                    border-top: 23px solid transparent;
                    border-bottom: 23px solid transparent;
                    border-right: 23px solid $color-white;
                    
                    .innerTriangle {
                      position: relative;
                      top: -20px;
                      left: 2px;
                      width: 0;
                      height: 0;
                      border-top: 20px solid transparent;
                      border-bottom: 20px solid transparent;
                      border-right: 20px solid $color-white;
                    }
                  }
                  .messageBubble {
                    margin: 1rem;
                    background-color: $color-white;
                    color: $color-dark-blue;
                    border: 1px solid $color-white;
                    border-radius: 6px;
                    text-align: left;
                    padding: 20px;
                    width: 100%;
                    margin-left: -5px;
                    .name {
                      font-size: 17px;
                      margin-bottom: 1.5%;
                      @include apply-at-sm-size {
                        margin-bottom: 0.5rem;
                        font-size: 12px;
                      }
                    }
                    .message {
                      font-size: 15px;
                      @include apply-at-sm-size {
                        font-size: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .footerContainer {
      @include directionX;
      margin-top: 5%;
      border-top: 50px solid $color-orange;
      border-bottom: 50px solid $color-orange;
      background-color: $color-dark-blue;
      @include apply-at-sm-size {
        border-top: 25px solid $color-orange;
        border-bottom: 25px solid $color-orange;
      }
      .leftSection {
        @include directionY;
        align-items: center;
        width: 50%;
        padding: 5% 0%;
        .medsosIlustration {
          width: 20%;
          @include apply-at-sm-size {
            width: 40%;
          }
        }
        .contactUsWrpper {
          .contactUs {
            @include directionY;
            align-items: center;
            font-size: 19px;
            @include apply-at-sm-size {
              font-size: 6px;
              line-height: 5px;
            }
            .title {
              margin-top: 10%;
              width: 24%;
              @include apply-at-sm-size {
                width: 60%;
              }
            }
            .contactUsDesc {
              text-align: center;
              padding: 2% 0% 5% 0%;
              .subtitle {
                margin: 14px;
              }
            }
          }
          .iconClick {
            @include directionX;
            justify-content: center;
            gap: 5%;
            .icon {
              cursor: pointer;
              width: 40px;
              height: 40px;
              @include apply-at-sm-size {
                width: 25px;
                height: 25px;
              }
            }
            .icons {
              .icon {
                cursor: pointer;
                width: 40px;
                height: 40px;
                @include apply-at-sm-size {
                  width: 25px;
                  height: 25px;
                }
              }
            }
          }
        }
        .colaboration {
          text-align: center;
          margin: 0;
          font-size: 19px;
          @include apply-at-sm-size {
            font-size: 10px;
          }
          .title {
            margin-bottom: 10px;
          }
          .techartsy {
            cursor: pointer;
            width: 20%;
            @include apply-at-sm-size {
              width: 50%;
            }
          }
        }
      }
      .rightSection {
        width: 50%;
        padding: 5% 0%;
        @include directionY;
        @include apply-at-sm-size {
          width: 55%;
          padding-right: 2%;
        }
        .maps {
          @include apply-at-sm-size {
            @include directionY;
            justify-content: center;
          }
          width: 100%;
          height: 100%;
        }
      }
    }
    .my-swal {
      z-index: 10000 !important;
    }
    .swal-overlay {
      z-index: 100000000000 !important;
    }
    :host ::ng-deep .swal-overlay {
      z-index: 30000000000 !important;
    }
  }
}
